<h1>Password Reset OTP</h1>
<p>Hello <%= @user.username %>!</p>
<p>Your OTP for password reset is: <%= @otp %></p>
<p>The OTP will expire in 4 minutes</p>
<p>Please use this OTP to reset your password.</p>